.App {
  box-sizing: border-box;
  text-align: center;
}

.CalcContainer {
  border: 5px solid black;
  width: 600px;
  margin: auto;
}

.DispContainer {
  border: 5px solid rgb(116, 46, 0);
  height: 40px;
  background-color: gray;
  padding: 5px;
}

.ButtonsContainer {
  border: 5px solid rgb(44, 59, 38);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Display {
  font-size: 2em;
  text-align: right;
}

.ButtonsContainer > button{
  font-size: 2em;
  background-color: brown;
}